<div class="title-bar">
    <h1 class="container py-2">Dashboard</h1>
</div>

<div class="blogroll-posts container">
    <!-- Loop through each of the user's posts -->
    {{#each posts as |post| }}
        <div class="blogroll-post user-post">
            <h3 class="post-title display-flex justify-space-between-lg align-center"><span>{{post.title}}</h3>
            <div class="post-content">{{post.description}}</div>
            <div class="post-buttons display-flex justify-flex-end">
                <button class="btn update-a-post" data-id="{{post.id}}" data-func="update">UPDATE POST</button>
                <button class="btn delete-a-post" data-id="{{post.id}}" data-func="delete">DELETE</button>
            </div>
        </div>
    {{/each}}
</div>
<div class="text-center">
    <a class="btn" id="create-post" href="/newPost">NEW POST</a>
</div>
<script src="/js/updatePost.js"></script>