<form class="form create-a-post-form" data-func="save">
  <div class='form-group'>
    <input class='form-input' type='text' id='newpost-title' placeholder='title' />
  </div>

  <div class='form-group'>
    <textarea class='form-input' id='newpost-body'></textarea>
  </div>

  <div class='form-group'>
    <button class='btn' type='submit'>SAVE POST</button>
  </div>

  <div class='form-group'>
    <a href="/dashboard">cancel</a>
  </div>
</form>