
<div class="col-sm-6 col-md-auto-6 col-lg-5 col-xl-4 container container-fluid mt-5">
  <div class="signup-container">
    <div class="title-bar">
        <h1 class="container py-2 text-center">Sign Up</h1>
    </div>
    <form class="form signup-form">
      <div class="form-group">
        <input class="form-input" type="text" id="username-signup" placeholder="Username"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="text" id="email-signup" placeholder="Email"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-signup" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn col-md-auto" type="submit">Sign Up</button>
      </div>
      <div class='form-group'>
        <a href="/login" class="btn col-md-auto" id="signup-btn">Login</a>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>